.details {
  margin: 0;
  span {
    color: black;
  }
}
.task-card__wrapper {
  display: flex;
  justify-content: space-between;
}
.task-card__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin: 0 0 5px 0;
  }
}
